@model MoviesViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="row">
    <div class="col-md-8">
        <section id="createMovieForm">
            @using (Html.BeginForm("Create", "Movies", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.HiddenFor(x => x.Id);

                <div class="form-group">
                    @Html.LabelFor(movie => movie.Title, new { @class = "col-md-2 control-label" })
                    @Html.EditorFor(movie => movie.Title, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(movie => movie.Genre, new { @class = "col-md-2 control-label" })
                    @Html.EditorFor(movie => movie.Genre)
                </div>

                <div class="form-group">
                    @Html.LabelFor(movie => movie.ReleasedDate, new { @class = "col-md-2 control-label" })
                    @Html.EditorFor(movie => movie.ReleasedDate, new { htmlAttributes = new { @class = "form-control datefield" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(movie => movie.Director, new { @class = "col-md-2 control-label" })
                    @Html.EditorFor(movie => movie.Director, new { htmlAttributes = new { @class = "form-control datefield" } })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-0 col-md-10">
                        <input type="submit" value="Create Movie" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

